:root {
  --clr-primary: #69b1ff;
  --clr-green: #95de64;
  --clr-yellow: #fff566;
  --clr-red: #ff7875;
  --clr-bg-light: #000000;
  --clr-bg-dark: #fafafa;
  --bg-light: #fafafa;
  --bg-gray: #f0f0f0;
}
